// Colors
$mainBackground-color: #2a2e37;
$secondary-background-color: #202628;
$primary-font-color: #f2f2f2;
$accent-color: #00fede;
$search-button-accent-color: #161414;
$compare-button-color: #ff7f00;

// Font-sizing
$heading-font-size: 48px;
$primary-font-size: 18px;
$subheading-font-size: 24px;

// Font Styles
$montserrat-semi: "Montserrat", sans-serif;
$kurale: "Kurale", serif; ;
