@import "config";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-height: 100vh;
}

body {
  max-width: 100vw;
  
  background: $mainBackground-color;
  color: $primary-font-color;
  font-family: $montserrat-semi;
}

.container {
  display: grid;
  height:100vh;
  // position: relative;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap:10px;
  grid-template-areas:'Left TopLeft Top TopRight Right'
  'Left CenterLeft Center CenterRight Right'
  'Left BottomLeft Bottom BottomRight Right';
  // border:1px solid black;
  @media only screen and (max-width: 1100px){
    // width: 100vw;
    // height:100%;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas:'Top'
    'CenterLeft'
    'BottomLeft'
    'CenterRight'
    'BottomRight'
    'Bottom';
      margin: 1rem;
      gap:10px;
      
  }
}
.heading {
  // border:1px solid green;
  grid-area: Top;
  color: $primary-font-color;
  font-size: $heading-font-size;
  text-align: center;
  margin-top: 3rem;
  @media only screen and (max-width: 1100px){
    font-size: 3rem;
  }
}
li {
  text-decoration: none;
  list-style: none;
}
img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}


.searchBarLeft{
  grid-area: CenterLeft;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  @media only screen and (max-width: 1100px){
    // height:5rem;
    margin-top: 3rem;
    margin-bottom: -1rem;
  }
}
.searchBarRight{
  
  grid-area: CenterRight;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  @media only screen and (max-width: 1100px){
    // height:5rem;
    margin-top: 3rem;
    margin-bottom: -1rem;
  }
}
.search {
  width: 420px;
  height: 60px;
  background-color: $secondary-background-color;
  border-radius: 15px;
  position: relative;
  transition: all 0.5s ease;

}

.search-box {
  width: 100%;
  height: 100%;
  box-shadow: none;
  border-radius: 25px;
  border: none;
  background: transparent;
  color: $primary-font-color;
  padding: 20px 100px 20px 45px;
  font-size: 26px;
  outline: none;
  
}

.search-button {
  
  width: 100px;
  height: 60px;
  background-color: $secondary-background-color;
  display: block;
  border: 1px solid $accent-color;
  border-radius: 15px;
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px;
  cursor: pointer;

  transition: all 0.5s ease;
  .search-button:hover {
    box-shadow: inset 2px 2px 11px 2px $search-button-accent-color;
  }

  .fa-search {
    
    height: 100%;
    width: 100%;
    text-align: center;
    color: $accent-color;
    transition: all 0.3s ease;
    .fa-search:hover {
      color: $accent-color;
    }
  }
}

.leftResultBox{
  grid-area: BottomLeft;
  height:fit-content;
  // width: 80vw;
  @media only screen and (max-width: 1100px){
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}
.rightResultBox{
  grid-area: BottomRight;
  height:fit-content;
  @media only screen and (max-width: 1100px){
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  
}



  
  .col-mid {
    grid-area: Bottom;
    // position: relative;
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    visibility: hidden;
    text-align: center;

    .winning-stats-heading {
      margin-bottom: 2rem;
      display: flex;
      justify-self: center;
      align-items: center;
      font-size: 36px;
      text-align: center;
    }

    .cat-item-title {
      background: $secondary-background-color;
      margin: 1rem 0 10px 0;
      text-align: center;
      width: 300px;
      font-size: 24px;
      color: $primary-font-color;
      padding: 15px;
    }
    .cat-item-winner {
      padding: 10px;
      // color: #000 !important;
      font-size: 18px;
    }
    @media only screen and (max-width: 1100px){
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
  }
  #compare-result{
    @media only screen and (max-width: 1100px){
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
  }
  // .warning {
  //   margin: 2rem;
  //   display: flex;
  //   // background-color: #ff7f00;
  //   color: #ff7f00;
  //   font-size: 24px;
  //   padding: 20px;
  //   justify-content: center;
  //   align-items: flex-end;
  // }
  .thumbnails-list {
    display: flex;
    margin: 0.5rem;
    border: 2px solid #72bed8;
    box-shadow: inset 2px 2px 11px 2px #0000;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .profiles-names {
    padding: 10px;
  }
  .profile-thumbnail {
    margin: 2rem;
  }
  .profile-attributes {
    margin: 1rem;
    .profile-heading {
      margin: 1rem;
      padding: 10px;
      font-size: $subheading-font-size;
      font-weight: bold;
      color: #72bed8;
    }
    .profile-item {
      margin: 20px;
      color: $primary-font-color;
      font-size: $primary-font-size;
      font-family: $kurale;
    }
  }
  .comparison-btn-container {
    grid-area: Bottom;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    @media only screen and (max-width: 1100px){
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 2rem;
      margin-bottom: 4rem;
    }
    
  }
  .compare-btn {
    width: 350px;
    outline: none;
    font-size: 36px;
    color: $primary-font-color;
    height: 100px;
    background-color: $compare-button-color;
    border-radius: 15px;
    transition: all 0.3s;
    &:hover {
      transform: scale(1.1);
    }
  }

